<h4><%= "#{get_user} has #{display_player_money}. How much would you like to bet?" %><h4>

<form action='/game' method ='post'>
	<input type='text' name='bet_amt'/>
	<input type='Submit' class='btn'/>
</form>